.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-top: 5rem;
}

.header {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  width: 20%;
}

.login-content {
  display: flex;
  flex-direction: column;
}

.login-input {
  height: 2rem;
  border: 1px solid gray;
  border-radius: 4px;
  font-weight: lighter;
  padding: 6px;
}

.login-label {
  font-size: medium;
  margin-right: 2px;
  padding: 1px;
  color: white;
}

.login-btn {
  height: 2rem;
  border: 1px solid gray;
  background-color: transparent;
  border-radius: 4px;
  padding: 7px;
  cursor: pointer;
  margin-top: 5px;
  font-size: medium;
}

.error {
  color: red;
}

.input-error {
  color: red;
}
